.article {
    margin: 0 auto;
    padding: 2em 4em;
}

.article__title {
    font-weight: var(--fw-h2);
    font-size: var(--fs-h2);
}

.article__body {
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
}